<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <h3>KhoaPham NodeJS</h3>
        <hr />
        <div>
            <%names.forEach(e => {%>
                <h3>Xin chao <%= e %></h3>
            <%});%>

            <%if (isAdmin) {%>
                <p>Chao Admin</p>
            <%} else {%>
                <p>Chi admin moi co the dung chuc nang nay.</p>
            <%}%>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>