<%
    const a = 100;
    function add(soa, sob) {
        return soa + sob;
    }
    const b = '<h1>React Native</h1>'
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <h3>KhoaPham NodeJS <%- name %></h3>
    </body>
</html>