<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <h3>KhoaPham NodeJS</h3>
        <hr />
        <div>
            <%
                names.forEach(e => {
                    %><h3>Xin chao <%= e %></h3><%
                });
            %>
        </div>
    </body>
</html>