<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <div>
            <% mang.forEach(e => { %>
                <%- include('partials/row', e) %>
            <% }); %>
        </div>
    </body>
</html>